openapi: 3.0.3
info:
  title: WRPay - Secure Payments & Advanced Merchant Gateway API Documentation
  description: Merchant-facing API for initiating payments, managing wallets, and automating withdrawals for IlonaPay.
  version: 1.0.0
  license:
    name: Proprietary
    url: https://ilonapay.com/terms
  x-logo:
    url: ./ilona-logo.png
    altText: IlonaPay Logo
    backgroundColor: '#FFFFFF'
  x-dark-logo:
    url: ./ilona-light-logo.png
    altText: IlonaPay Logo
servers:
  - url: https://sandbox.ilonapay.com
    description: Sandbox environment for testing and development
  - url: https://production.ilonapay.com
    description: Production environment for live transactions
tags:
  - name: Payments
    description: Endpoints for initiating and processing payment transactions
  - name: Transactions
    description: Endpoints for checking transaction status and managing callbacks
  - name: Wallets
    description: Endpoints for managing merchant wallets and balances
  - name: Withdraw Accounts
    description: Endpoints for managing withdrawal account configurations
  - name: Withdrawals
    description: Endpoints for creating and managing withdrawal requests
components:
  securitySchemes:
    $ref: ./components/security.yaml#/securitySchemes
  responses:
    $ref: ./components/responses.yaml#/responses
  schemas:
    $ref: ./components/schemas.yaml#/schemas
security:
  - default: []
paths:
  /api/v2/payments:
    get:
      summary: List payment transactions.
      operationId: listPayments
      description: Retrieve a list of payment transactions for the authenticated merchant. Returns payment transactions with their status, amounts, and transaction details.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
        - in: query
          name: status
          description: Filter payments by status (pending, completed, failed, canceled, expired).
          required: false
          schema:
            type: string
            enum:
              - pending
              - completed
              - failed
              - canceled
              - expired
          example: completed
        - in: query
          name: page
          description: Page number for pagination. Default is 1.
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - in: query
          name: per_page
          description: Number of payments per page. Default is 20, maximum is 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
      responses:
        '200':
          description: List of payment transactions retrieved successfully. Returns an array of payment transactions with their details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: '20001002'
                  message:
                    type: string
                    example: List of payment transactions retrieved successfully.
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        trxId:
                          type: string
                          example: TRX20241101001
                        trxRef:
                          type: string
                          example: INV-2024-0001
                          nullable: true
                        referenceNumber:
                          type: string
                          example: '123456789012'
                          nullable: true
                        amount:
                          type: integer
                          example: 150000
                        currencyCode:
                          type: string
                          example: IDR
                        status:
                          $ref: '#/components/schemas/TransactionStatus'
                        paymentMethod:
                          type: string
                          example: QRIS
                          nullable: true
                        description:
                          type: string
                          example: QRIS payment for invoice INV-2024-0001
                          nullable: true
                        customerName:
                          type: string
                          example: Budi Santoso
                          nullable: true
                        customerPhone:
                          type: string
                          example: '+628123456789'
                          nullable: true
                        createdAt:
                          type: string
                          format: date-time
                          example: '2024-11-01T10:00:00Z'
                        paidAt:
                          type: string
                          format: date-time
                          example: '2024-11-01T10:15:00Z'
                          nullable: true
                  pageNumber:
                    type: integer
                    example: 1
                  pageSize:
                    type: integer
                    example: 2
                  hasNext:
                    type: boolean
                    example: true
                  hasPrev:
                    type: boolean
                    example: false
                example:
                  code: '20001002'
                  message: List of payment transactions retrieved successfully.
                  data:
                    - trxId: TRX20241101001
                      trxRef: INV-2024-0001
                      referenceNumber: '123456789012'
                      amount: 150000
                      currencyCode: IDR
                      status: completed
                      paymentMethod: QRIS
                      description: QRIS payment for invoice INV-2024-0001
                      customerName: Budi Santoso
                      customerPhone: '+628123456789'
                      createdAt: '2024-11-01T10:00:00Z'
                      paidAt: '2024-11-01T10:15:00Z'
                    - trxId: TRX20241101002
                      trxRef: INV-2024-0002
                      referenceNumber: null
                      amount: 200000
                      currencyCode: IDR
                      status: pending
                      paymentMethod: QRIS
                      description: QRIS payment for invoice INV-2024-0002
                      customerName: null
                      customerPhone: null
                      createdAt: '2024-11-01T11:00:00Z'
                      paidAt: null
                  pageNumber: 1
                  pageSize: 2
                  hasNext: true
                  hasPrev: false
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Payments
  /api/v2/initiate-payment-qris:
    post:
      summary: Process QRIS payment request.
      operationId: processQRISPaymentRequest
      description: |-
        Create a QRIS (Quick Response Code Indonesian Standard) payment request that is routed
        through the Netzme payment gateway. The response contains the QR data needed for rendering
        the QR code along with transaction identifiers.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: QRIS payment request created successfully. Returns transaction ID, reference, and QR code content.
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '20001001'
                  message: QRIS payment request created successfully.
                  data:
                    trxId: TRX20241101001
                    trxRef: INV-2024-0001
                    qrisContent: 00020101021226650013ID.NETZME.WWW01189360081401001083820215ID20240000002480303UKE51440014ID.CO.QRIS.WWW0215ID20240000002480303UKE5204413153033605405100005802ID5903RPD6008SIMEULUE61052389562690703A010812qris_invoice99420002000132377c254d3d0f4fbe8edce9b7d3d7a55a63047DD5
                    createdAt: '2025-10-20T16:57:10.444+07:00'
                    expiredAt: '2025-10-20T17:57:10.309+07:00'
                    feeAmount: 70
                    invoiceId: INV-M_JH8gxUJR17609542303095Up
                    qrContent: 00020101021226650013ID.NETZME.WWW01189360081401001083820215ID20240000002480303UKE51440014ID.CO.QRIS.WWW0215ID20240000002480303UKE5204413153033605405100005802ID5903RPD6008SIMEULUE61052389562690703A010812qris_invoice99420002000132377c254d3d0f4fbe8edce9b7d3d7a55a63047DD5
                    statistic: []
                    terminalId: A01
                    totalAmount: 10000
                    merchantLocation: SIMEULUE
                properties:
                  code:
                    type: string
                    example: '20001001'
                  message:
                    type: string
                    example: QRIS payment request created successfully.
                  data:
                    type: object
                    properties:
                      trxId:
                        type: string
                        example: TRX20241101001
                      trxRef:
                        type: string
                        example: INV-2024-0001
                        nullable: true
                      qrisContent:
                        type: string
                        example: 00020101021226650013ID.NETZME.WWW01189360081401001083820215ID20240000002480303UKE51440014ID.CO.QRIS.WWW0215ID20240000002480303UKE5204413153033605405100005802ID5903RPD6008SIMEULUE61052389562690703A010812qris_invoice99420002000132377c254d3d0f4fbe8edce9b7d3d7a55a63047DD5
                        nullable: true
                      createdAt:
                        type: string
                        format: date-time
                        example: '2025-10-20T16:57:10.444+07:00'
                      expiredAt:
                        type: string
                        format: date-time
                        example: '2025-10-20T17:57:10.309+07:00'
                      feeAmount:
                        type: integer
                        example: 70
                      invoiceId:
                        type: string
                        example: INV-M_JH8gxUJR17609542303095Up
                      qrContent:
                        type: string
                        example: 00020101021226650013ID.NETZME.WWW01189360081401001083820215ID20240000002480303UKE51440014ID.CO.QRIS.WWW0215ID20240000002480303UKE5204413153033605405100005802ID5903RPD6008SIMEULUE61052389562690703A010812qris_invoice99420002000132377c254d3d0f4fbe8edce9b7d3d7a55a63047DD5
                      statistic:
                        type: array
                        items: {}
                        example: []
                      terminalId:
                        type: string
                        example: A01
                      totalAmount:
                        type: integer
                        example: 10000
                      merchantLocation:
                        type: string
                        example: SIMEULUE
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                trxRef:
                  type: string
                  description: Unique merchant transaction reference.
                  example: INV-2024-0001
                  nullable: false
                currencyCode:
                  type: string
                  description: Must be `IDR`.
                  example: IDR
                  nullable: false
                amount:
                  type: number
                  description: Total amount to be charged to the customer.
                  example: 150000.5
                  nullable: false
                expirationTime:
                  type: integer
                  description: Expiry time for the QR code in minutes (30 - 1440).
                  example: 60
                  nullable: false
                note:
                  type: string
                  description: A short internal note about the transaction.
                  example: QRIS top-up
                  nullable: true
                description:
                  type: string
                  description: A customer-facing description that will appear on receipts.
                  example: QRIS payment for invoice INV-2024-0001
                  nullable: true
                customerName:
                  type: string
                  description: Customer full name.
                  example: Budi Santoso
                  nullable: true
                customerPhone:
                  type: string
                  description: Customer phone number in international format.
                  example: '+628123456789'
                  nullable: true
              required:
                - trxRef
                - currencyCode
                - amount
  /api/v2/initiate-payment-virtual-account:
    post:
      summary: Process virtual account payment request.
      operationId: processVirtualAccountPaymentRequest
      description: Create a virtual account payment request for bank transfer. The response contains the virtual account number that customers can use to make payments via bank transfer or ATM.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '201':
          description: Virtual account payment request created successfully. Returns transaction ID, reference, virtual account number, and bank details.
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '20101001'
                  message: Virtual account payment request created successfully.
                  data:
                    trxId: TRX20241101002
                    trxRef: INV-2024-0002
                    virtualAccountNumber: '0141234567890123456'
                    bankCode: '014'
                    bankName: BCA
                    expirationTime: 1440
                    expirationAt: '2024-11-02T10:00:00Z'
                properties:
                  code:
                    type: string
                    example: '20101001'
                  message:
                    type: string
                    example: Virtual account payment request created successfully.
                  data:
                    type: object
                    properties:
                      trxId:
                        type: string
                        example: TRX20241101002
                      trxRef:
                        type: string
                        example: INV-2024-0002
                        nullable: true
                      virtualAccountNumber:
                        type: string
                        example: '0141234567890123456'
                        nullable: true
                      bankCode:
                        type: string
                        example: '014'
                        nullable: true
                      bankName:
                        type: string
                        example: BCA
                        nullable: true
                      expirationTime:
                        type: integer
                        example: 1440
                        nullable: true
                      expirationAt:
                        type: string
                        format: date-time
                        example: '2024-11-02T10:00:00Z'
                        nullable: true
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                trxRef:
                  type: string
                  description: Unique merchant transaction reference.
                  example: INV-2024-0002
                  nullable: false
                bankCode:
                  type: string
                  description: Bank code identifier. Use `/api/v2/banks` endpoint to get available bank codes.
                  example: '014'
                  nullable: false
                currencyCode:
                  type: string
                  description: Must be `IDR`.
                  example: IDR
                  nullable: false
                amount:
                  type: number
                  description: Total amount to be charged to the customer.
                  example: 250000.5
                  nullable: false
                expirationTime:
                  type: integer
                  description: Expiry time for the virtual account in minutes (30 - 1440). Default is 1440 (24 hours).
                  example: 1440
                  nullable: false
                  minimum: 30
                  maximum: 1440
                  default: 1440
                note:
                  type: string
                  description: A short internal note about the transaction.
                  example: Virtual account payment for invoice
                  nullable: true
                description:
                  type: string
                  description: A customer-facing description that will appear on receipts.
                  example: Virtual account payment for invoice INV-2024-0002
                  nullable: true
                customerName:
                  type: string
                  description: Customer full name.
                  example: Budi Santoso
                  nullable: true
                customerPhone:
                  type: string
                  description: Customer phone number in international format.
                  example: '+628123456789'
                  nullable: true
                customerEmail:
                  type: string
                  format: email
                  description: Customer email address.
                  example: budi.santoso@example.com
                  nullable: true
              required:
                - trxRef
                - bankCode
                - currencyCode
                - amount
  /api/v2/initiate-payment-bank-transfer:
    post:
      summary: Process bank transfer payment request.
      operationId: processBankTransferPaymentRequest
      description: Create a bank transfer payment request. The response contains the merchant bank account details that customers can use to make direct bank transfers. Customers will transfer funds directly to the provided bank account.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '201':
          description: Bank transfer payment request created successfully. Returns transaction ID, reference, and merchant bank account details for customer transfer.
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '20101002'
                  message: Bank transfer payment request created successfully.
                  data:
                    trxId: TRX20241101003
                    trxRef: INV-2024-0003
                    bankCode: '014'
                    bankName: BCA
                    accountNumber: '1234567890'
                    accountHolderName: PT Merchant ABC
                    amount: 300000
                    currencyCode: IDR
                    transferInstructions: Please transfer the exact amount to the account above. Include your reference number in the transfer notes.
                properties:
                  code:
                    type: string
                    example: '20101002'
                  message:
                    type: string
                    example: Bank transfer payment request created successfully.
                  data:
                    type: object
                    properties:
                      trxId:
                        type: string
                        example: TRX20241101003
                      trxRef:
                        type: string
                        example: INV-2024-0003
                        nullable: true
                      bankCode:
                        type: string
                        example: '014'
                        nullable: true
                      bankName:
                        type: string
                        example: BCA
                        nullable: true
                      accountNumber:
                        type: string
                        example: '1234567890'
                        nullable: true
                      accountHolderName:
                        type: string
                        example: PT Merchant ABC
                        nullable: true
                      amount:
                        type: number
                        example: 300000
                        nullable: true
                      currencyCode:
                        type: string
                        example: IDR
                        nullable: true
                      transferInstructions:
                        type: string
                        example: Please transfer the exact amount to the account above. Include your reference number in the transfer notes.
                        nullable: true
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                trxRef:
                  type: string
                  description: Unique merchant transaction reference.
                  example: INV-2024-0003
                  nullable: false
                bankCode:
                  type: string
                  description: Bank code identifier. Use `/api/v2/banks` endpoint to get available bank codes.
                  example: '014'
                  nullable: false
                currencyCode:
                  type: string
                  description: Must be `IDR`.
                  example: IDR
                  nullable: false
                amount:
                  type: number
                  description: Total amount to be transferred by the customer.
                  example: 300000.5
                  nullable: false
                note:
                  type: string
                  description: A short internal note about the transaction.
                  example: Bank transfer payment for invoice
                  nullable: true
                description:
                  type: string
                  description: A customer-facing description that will appear on receipts.
                  example: Bank transfer payment for invoice INV-2024-0003
                  nullable: true
                customerName:
                  type: string
                  description: Customer full name.
                  example: Budi Santoso
                  nullable: true
                customerPhone:
                  type: string
                  description: Customer phone number in international format.
                  example: '+628123456789'
                  nullable: true
                customerEmail:
                  type: string
                  format: email
                  description: Customer email address.
                  example: budi.santoso@example.com
                  nullable: true
              required:
                - trxRef
                - bankCode
                - currencyCode
                - amount
  /api/v2/check-payment-status:
    post:
      summary: Check payment transaction status.
      operationId: checkPaymentStatus
      description: Retrieve the latest status for an existing payment transaction using `trxId`, `trxRef`, or `referenceNumber`.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: Payment transaction status retrieved successfully. Returns current status, transaction details, and payment information.
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '20002001'
                  status: completed
                  message: Payment status checked successfully.
                  data:
                    trxId: TRX20241101001
                    trxReference: INV-2024-0001
                    referenceNumber: '123456789012'
                    amount: 150000
                    currencyCode: IDR
                    status: completed
                    paymentMethod: QRIS
                    description: QRIS payment for invoice INV-2024-0001
                    customerName: Budi Santoso
                    customerPhone: '+628123456789'
                properties:
                  code:
                    type: string
                    example: '20002001'
                  status:
                    $ref: '#/components/schemas/TransactionStatus'
                  message:
                    type: string
                    example: Payment status checked successfully.
                  data:
                    type: object
                    properties:
                      trxId:
                        type: string
                        example: TRX20241101001
                      trxReference:
                        type: string
                        example: INV-2024-0001
                        nullable: true
                      referenceNumber:
                        type: string
                        example: '123456789012'
                        nullable: true
                      amount:
                        type: integer
                        example: 150000
                      currencyCode:
                        type: string
                        example: IDR
                      status:
                        $ref: '#/components/schemas/TransactionStatus'
                      paymentMethod:
                        type: string
                        example: QRIS
                        nullable: true
                      description:
                        type: string
                        example: QRIS payment for invoice INV-2024-0001
                        nullable: true
                      customerName:
                        type: string
                        example: Budi Santoso
                        nullable: true
                      customerPhone:
                        type: string
                        example: '+628123456789'
                        nullable: true
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: At least one of trxId, trxRef, or referenceNumber must be provided.
              properties:
                trxId:
                  type: string
                  description: Transaction ID generated by the system.
                  example: TRX20241101001
                  nullable: true
                trxRef:
                  type: string
                  description: Merchant transaction reference.
                  example: INV-2024-0001
                  nullable: true
                referenceNumber:
                  type: string
                  description: Reference number (RRN).
                  example: '123456789012'
                  nullable: true
              anyOf:
                - required:
                    - trxId
                - required:
                    - trxRef
                - required:
                    - referenceNumber
  /api/v2/check-withdrawal-status:
    post:
      summary: Check withdrawal transaction status.
      operationId: checkWithdrawalStatus
      description: Retrieve the latest status for an existing withdrawal transaction using `trxId` or `trxRef`.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: Withdrawal transaction status retrieved successfully. Returns current status, transaction details, and withdrawal information.
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '20002004'
                  status: completed
                  message: Withdrawal status checked successfully.
                  data:
                    trxId: TRX-2025.01.15-ABC123XYZ
                    trxReference: WD-2025-0001
                    amount: '250000.00'
                    netAmount: '245000.00'
                    payableAmount: '245000.00'
                    currencyCode: IDR
                    status: completed
                    withdrawalMethod: Bank Transfer
                    accountName: Bank BCA
                    accountHolderName: Budi Santoso
                    accountBankName: Bank Central Asia
                    accountNumber: '1234567890'
                    accountBankCode: '014'
                    trxFee: '5000.00'
                    description: Withdrawal to Bank BCA
                    remarks: Withdrawal processed successfully
                    environment: production
                    isSandbox: false
                properties:
                  code:
                    type: string
                    example: '20002004'
                  status:
                    $ref: '#/components/schemas/TransactionStatus'
                  message:
                    type: string
                    example: Withdrawal status checked successfully.
                  data:
                    type: object
                    properties:
                      trxId:
                        type: string
                        example: TRX-2025.01.15-ABC123XYZ
                      trxReference:
                        type: string
                        example: WD-2025-0001
                        nullable: true
                      amount:
                        type: string
                        example: '250000.00'
                        description: Original withdrawal amount as a decimal string
                      netAmount:
                        type: string
                        example: '245000.00'
                        description: Net amount after fees as a decimal string
                      payableAmount:
                        type: string
                        example: '245000.00'
                        description: Final amount to be paid out as a decimal string
                      currencyCode:
                        type: string
                        example: IDR
                      status:
                        $ref: '#/components/schemas/TransactionStatus'
                      withdrawalMethod:
                        type: string
                        example: Bank Transfer
                        nullable: true
                      accountName:
                        type: string
                        example: Bank BCA
                        nullable: true
                      accountHolderName:
                        type: string
                        example: Budi Santoso
                        nullable: true
                      accountBankName:
                        type: string
                        example: Bank Central Asia
                        nullable: true
                      accountNumber:
                        type: string
                        example: '1234567890'
                        nullable: true
                      accountBankCode:
                        type: string
                        example: '014'
                        nullable: true
                      trxFee:
                        type: string
                        example: '5000.00'
                        description: Transaction fee charged as a decimal string
                      description:
                        type: string
                        example: Withdrawal to Bank BCA
                        nullable: true
                      remarks:
                        type: string
                        example: Withdrawal processed successfully
                        nullable: true
                      environment:
                        type: string
                        example: production
                        description: Environment where the transaction occurred ("production" or "sandbox")
                      isSandbox:
                        type: boolean
                        example: false
                        description: Whether the transaction is in sandbox mode
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: At least one of trxId or trxRef must be provided.
              properties:
                trxId:
                  type: string
                  description: Transaction ID generated by the system.
                  example: TRX-2025.01.15-ABC123XYZ
                  nullable: true
                trxRef:
                  type: string
                  description: Merchant transaction reference.
                  example: WD-2025-0001
                  nullable: true
              anyOf:
                - required:
                    - trxId
                - required:
                    - trxRef
  /api/v2/resend-callback:
    post:
      summary: Resend callback notification.
      operationId: resendCallback
      description: Resend the callback notification for an existing transaction using `trxId` or `trxRef`. This endpoint allows merchants to manually trigger callback delivery if the initial callback was not received or failed.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: Callback resend request processed successfully. Returns confirmation message and callback status.
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '20002002'
                  message: Callback resend request has been queued successfully.
                  data:
                    trxId: TRX20241101001
                    callbackStatus: queued
                    queuedAt: '2024-11-01T10:30:00Z'
                properties:
                  code:
                    type: string
                    example: '20002002'
                  message:
                    type: string
                    example: Callback resend request has been queued successfully.
                  data:
                    type: object
                    properties:
                      trxId:
                        type: string
                        example: TRX20241101001
                      callbackStatus:
                        type: string
                        example: queued
                        description: Status of the callback resend request (queued, sent, failed)
                      queuedAt:
                        type: string
                        format: date-time
                        example: '2024-11-01T10:30:00Z'
                        description: Timestamp when the callback was queued for resending
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: At least one of trxId or trxRef must be provided.
              properties:
                trxId:
                  type: string
                  description: Transaction ID generated by the system.
                  example: TRX20241101001
                  nullable: true
                trxRef:
                  type: string
                  description: Merchant transaction reference.
                  example: INV-2024-0001
                  nullable: true
              anyOf:
                - required:
                    - trxId
                - required:
                    - trxRef
  /api/v2/get-invoice/{trx_id}:
    get:
      summary: Get invoice details.
      operationId: getInvoice
      description: Retrieve invoice details for an existing transaction using its `trx_id`.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: Invoice details retrieved successfully. Returns invoice information, transaction details, and payment information.
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '20002003'
                  status: completed
                  message: Invoice retrieved successfully.
                  data:
                    trxId: TRX20241101001
                    trxRef: INV-2024-0001
                    amount: 150000
                    currencyCode: IDR
                    status: completed
                    customerName: Budi Santoso
                    customerPhone: '+628123456789'
                    description: QRIS payment for invoice INV-2024-0001
                    note: QRIS top-up
                    qrisContent: 00020101021226680012IDCO...
                    qrImageUrl: /qr/TRX20241101001.png
                    createdAt: '2024-11-01T10:00:00Z'
                    paidAt: '2024-11-01T10:15:00Z'
                properties:
                  code:
                    type: string
                    example: '20002003'
                  status:
                    $ref: '#/components/schemas/TransactionStatus'
                  message:
                    type: string
                    example: Invoice retrieved successfully.
                  data:
                    type: object
                    properties:
                      trxId:
                        type: string
                        example: TRX20241101001
                      trxRef:
                        type: string
                        example: INV-2024-0001
                      amount:
                        type: integer
                        example: 150000
                      currencyCode:
                        type: string
                        example: IDR
                      status:
                        $ref: '#/components/schemas/TransactionStatus'
                      customerName:
                        type: string
                        example: Budi Santoso
                        nullable: true
                      customerPhone:
                        type: string
                        example: '+628123456789'
                        nullable: true
                      description:
                        type: string
                        example: QRIS payment for invoice INV-2024-0001
                        nullable: true
                      note:
                        type: string
                        example: QRIS top-up
                        nullable: true
                      qrisContent:
                        type: string
                        example: 00020101021226680012IDCO...
                        description: QRIS payment content string for generating QR code.
                        nullable: true
                      qrImageUrl:
                        type: string
                        format: uri
                        example: /qr/TRX20241101001.png
                        description: URL to the QR code image for the transaction.
                        nullable: true
                      createdAt:
                        type: string
                        format: date-time
                        example: '2024-11-01T10:00:00Z'
                      paidAt:
                        type: string
                        format: date-time
                        example: '2024-11-01T10:15:00Z'
                        nullable: true
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Transactions
    parameters:
      - in: path
        name: trx_id
        description: The unique transaction identifier generated by the system.
        example: TRX20241101001
        required: true
        schema:
          type: string
  /api/v2/wallets:
    get:
      summary: List wallets.
      operationId: listWallets
      description: Retrieve all wallets that belong to the authenticated merchant user.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: List of wallets retrieved successfully. Returns an array of wallet objects with UUID, currency, balance, hold balance, and available balance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: '20003001'
                  message:
                    type: string
                    example: List of wallets retrieved successfully.
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        uuid:
                          type: string
                          example: c6c02b3e-5f5f-4f7b-b2c0-e7a01ad131ab
                        currencyCode:
                          type: string
                          example: IDR
                        balance:
                          type: integer
                          example: 2500000
                        holdBalance:
                          type: integer
                          example: 0
                        availableBalance:
                          type: integer
                          example: 2500000
                example:
                  code: '20003001'
                  message: List of wallets retrieved successfully.
                  data:
                    - uuid: c6c02b3e-5f5f-4f7b-b2c0-e7a01ad131ab
                      currencyCode: IDR
                      balance: 2500000
                      holdBalance: 0
                      availableBalance: 2500000
      tags:
        - Wallets
  /api/v2/wallets/{uuid}:
    get:
      summary: Show wallet details.
      operationId: showWalletDetails
      description: Fetch detailed information for a single wallet owned by the authenticated merchant user.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: Wallet details retrieved successfully. Returns wallet object with UUID, currency, balance, hold balance, and available balance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: '20003002'
                  message:
                    type: string
                    example: Wallet details retrieved successfully.
                  data:
                    type: object
                    properties:
                      uuid:
                        type: string
                        example: c6c02b3e-5f5f-4f7b-b2c0-e7a01ad131ab
                      currencyCode:
                        type: string
                        example: IDR
                      balance:
                        type: integer
                        example: 2500000
                      holdBalance:
                        type: integer
                        example: 0
                      availableBalance:
                        type: integer
                        example: 2500000
                example:
                  code: '20003002'
                  message: Wallet details retrieved successfully.
                  data:
                    uuid: c6c02b3e-5f5f-4f7b-b2c0-e7a01ad131ab
                    currencyCode: IDR
                    balance: 2500000
                    holdBalance: 0
                    availableBalance: 2500000
        '422':
          $ref: '#/components/responses/ValidationError'
      tags:
        - Wallets
    parameters:
      - in: path
        name: uuid
        description: Wallet UUID returned by the list wallets endpoint.
        example: c6c02b3e-5f5f-4f7b-b2c0-e7a01ad131ab
        required: true
        schema:
          type: string
  /api/v2/banks:
    get:
      summary: List supported banks.
      operationId: listBanks
      description: Retrieve the list of supported banks for payments and withdrawals. Returns banks with their IDs and names. Use bank codes for virtual account payments and withdrawal account setup.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: List of supported banks retrieved successfully. Returns an array of banks with bank ID and bank name. These banks can be used for virtual account payments and withdrawal account setup.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: '20004008'
                  data:
                    type: array
                    example:
                      - bankId: '014'
                        bankName: BCA
                      - bank_id: '008'
                        bank_name: Bank Mandiri
                      - bank_id: '009'
                        bank_name: Bank BNI
                    items:
                      type: object
                      properties:
                        bankId:
                          type: string
                          example: '014'
                          description: Bank code identifier. Use this code when creating virtual account payments via `/api/v2/initiate-payment-virtual-account` or withdrawal accounts.
                        bankName:
                          type: string
                          example: BCA
                          description: Full name of the bank
                example:
                  code: '20004008'
                  data:
                    - bank_id: '014'
                      bank_name: BCA
                    - bankId: '008'
                      bankName: Bank Mandiri
                    - bankId: '009'
                      bankName: Bank BNI
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Banks
  /api/v2/digital-wallets:
    get:
      summary: List supported digital wallets.
      operationId: listDigitalWallets
      description: Retrieve the list of supported digital wallets for payments and withdrawals. Returns wallets with their IDs and names. Use wallet IDs for payment processing and withdrawal account setup.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: List of supported digital wallets retrieved successfully. Returns an array of wallets with wallet ID and wallet name. These wallets can be used for payment processing and withdrawal account setup.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: '20004009'
                  data:
                    type: array
                    example:
                      - walletId: GOPAY
                        walletName: GoPay
                      - wallet_id: OVO
                        wallet_name: OVO
                      - wallet_id: DANA
                        wallet_name: DANA
                    items:
                      type: object
                      properties:
                        walletId:
                          type: string
                          example: GOPAY
                          description: Digital wallet code identifier. Use this ID for payment processing or withdrawal account setup.
                        walletName:
                          type: string
                          example: GoPay
                          description: Full name of the digital wallet
                example:
                  code: '20004009'
                  data:
                    - wallet_id: GOPAY
                      wallet_name: GoPay
                    - wallet_id: OVO
                      wallet_name: OVO
                    - wallet_id: DANA
                      wallet_name: DANA
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Digital Wallets
  /api/v2/virtual-account-banks:
    get:
      summary: List banks supporting virtual accounts.
      operationId: listVirtualAccountBanks
      description: Retrieve the list of banks that support virtual account payments. Returns banks with their IDs and names that can be used for creating virtual account payment requests.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: List of banks supporting virtual accounts retrieved successfully. Returns an array of banks with bank ID and bank name that support virtual account payments.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: '20004010'
                  data:
                    type: array
                    example:
                      - bankId: '014'
                        bankName: BCA
                        supportsVirtualAccount: true
                      - bank_id: '008'
                        bank_name: Bank Mandiri
                        supportsVirtualAccount: true
                      - bank_id: '009'
                        bank_name: Bank BNI
                        supportsVirtualAccount: true
                    items:
                      type: object
                      properties:
                        bank_id:
                          type: string
                          example: '014'
                          description: Bank code identifier. Use this code in the `bank_code` field when creating virtual account payments via `/api/v2/initiate-payment-virtual-account`.
                        bank_name:
                          type: string
                          example: BCA
                          description: Full name of the bank
                        supportsVirtualAccount:
                          type: boolean
                          example: true
                          description: Indicates whether this bank supports virtual account payments
                example:
                  code: '20004010'
                  data:
                    - bank_id: '014'
                      bank_name: BCA
                      supports_virtual_account: true
                    - bankId: '008'
                      bankName: Bank Mandiri
                      supports_virtual_account: true
                    - bankId: '009'
                      bankName: Bank BNI
                      supports_virtual_account: true
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Banks
  /api/v2/withdraw-accounts/methods:
    get:
      summary: List withdraw methods.
      operationId: listWithdrawMethods
      description: Retrieve all active withdrawal methods supported by the system.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: List of active withdrawal methods retrieved successfully. Returns an array of methods with ID, name, and supported currency.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: '20004001'
                  data:
                    type: array
                    example:
                      - id: 1
                        name: Bank Transfer
                        currency: IDR
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Bank Transfer
                        currency:
                          type: string
                          example: IDR
                example:
                  code: '20004001'
                  data:
                    - id: 1
                      name: Bank Transfer
                      currency: IDR
      tags:
        - Withdraw Accounts
  /api/v2/withdraw-accounts/lists:
    get:
      summary: Fetch payout bank and wallet catalog.
      operationId: fetchPayoutBankAndWalletCatalog
      description: Retrieve the list of supported banks and wallets from the Easylink gateway.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: Payout bank and wallet catalog retrieved successfully. Returns lists of supported banks and digital wallets with their IDs and names.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: '20004002'
                  data:
                    type: object
                    properties:
                      banks:
                        type: array
                        example:
                          - bankId: '014'
                            bankName: BCA
                        items:
                          type: object
                          properties:
                            bankId:
                              type: string
                              example: '014'
                            bankName:
                              type: string
                              example: BCA
                      wallets:
                        type: array
                        example:
                          - walletId: GOPAY
                            walletName: GoPay
                        items:
                          type: object
                          properties:
                            walletId:
                              type: string
                              example: GOPAY
                            walletName:
                              type: string
                              example: GoPay
                example:
                  code: '20004002'
                  data:
                    banks:
                      - bankId: '014'
                        bankName: BCA
                    wallets:
                      - walletId: GOPAY
                        walletName: GoPay
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Withdraw Accounts
  /api/v2/withdraw-accounts/{id}/info:
    get:
      summary: Inspect withdraw account limits.
      operationId: inspectWithdrawAccountLimits
      description: Retrieve withdraw method configuration such as min/max limits and charges.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: Withdraw account limits and configuration retrieved successfully. Returns minimum/maximum limits, charges, currency, processing time, and conversion rate.
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '20004003'
                  message: Account information retrieved successfully
                  data:
                    minLimit: 50000
                    maxLimit: 50000000
                    charge: 5000
                    chargeType: fixed
                    currency: IDR
                    processingTime: H+1
                    conversionRate: 1
                properties:
                  code:
                    type: string
                    example: '20004003'
                  message:
                    type: string
                    example: Account information retrieved successfully
                  data:
                    type: object
                    properties:
                      minLimit:
                        type: integer
                        example: 50000
                      maxLimit:
                        type: integer
                        example: 50000000
                      charge:
                        type: integer
                        example: 5000
                      chargeType:
                        type: string
                        example: fixed
                      currency:
                        type: string
                        example: IDR
                      processingTime:
                        type: string
                        example: H+1
                      conversionRate:
                        type: integer
                        example: 1
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Withdraw Accounts
    parameters:
      - in: path
        name: id
        description: Withdraw account ID.
        example: 15
        required: true
        schema:
          type: integer
  /api/v2/withdraw-accounts:
    get:
      summary: List withdraw accounts.
      operationId: listWithdrawAccounts
      description: |-
        Retrieve all withdraw accounts created by the authenticated merchant user. Optionally filter
        by wallet currency.
      parameters:
        - in: query
          name: walletId
          description: Filter accounts by wallet UUID so the currency matches.
          example: f8f3e8f8-0b1a-4cd5-a8fc-3cf1328a0a6f
          required: false
          schema:
            type: string
            description: Filter accounts by wallet UUID so the currency matches.
            example: f8f3e8f8-0b1a-4cd5-a8fc-3cf1328a0a6f
            nullable: false
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: List of withdraw accounts retrieved successfully. Returns an array of account objects with ID, name, account number, and associated withdrawal method details.
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '20004004'
                  data:
                    - id: 15
                      name: Bank BCA
                      accountNumber: '1234567890'
                      withdrawMethod:
                        id: 3
                        name: Bank Transfer
                        currency: IDR
                properties:
                  code:
                    type: string
                    example: '20004004'
                  data:
                    type: array
                    example:
                      - id: 15
                        name: Bank BCA
                        accountNumber: '1234567890'
                        withdrawMethod:
                          id: 3
                          name: Bank Transfer
                          currency: IDR
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 15
                        name:
                          type: string
                          example: Bank BCA
                        accountNumber:
                          type: string
                          example: '1234567890'
                        withdrawMethod:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 3
                            name:
                              type: string
                              example: Bank Transfer
                            currency:
                              type: string
                              example: IDR
        '422':
          $ref: '#/components/responses/ValidationError'
      tags:
        - Withdraw Accounts
    post:
      summary: Create a withdraw account.
      operationId: createAWithdrawAccount
      description: Store a new withdraw account for the authenticated merchant user.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '201':
          description: Withdraw account created successfully. Returns the newly created account with ID, name, account number, and withdrawal method details.
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '20104001'
                  data:
                    id: 15
                    name: Bank BCA
                    accountNumber: '1234567890'
                    withdrawMethod:
                      id: 3
                      name: Bank Transfer
                      currency: IDR
                properties:
                  code:
                    type: string
                    example: '20104001'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 15
                      name:
                        type: string
                        example: Bank BCA
                      accountNumber:
                        type: string
                        example: '1234567890'
                      withdrawMethod:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          name:
                            type: string
                            example: Bank Transfer
                          currency:
                            type: string
                            example: IDR
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Withdraw Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                methodId:
                  type: integer
                  description: Identifier of the payout method returned by `lists`.
                  example: 1
                  nullable: false
                bankCode:
                  type: string
                  description: Bank or wallet code as supplied by the gateway.
                  example: '014'
                  nullable: false
                category:
                  type: string
                  description: Must be one of `Customer` or `Reconcile`.
                  example: Customer
                  nullable: false
                accountNumber:
                  type: string
                  description: Destination account or wallet number.
                  example: '1234567890'
                  nullable: false
                accountHolderName:
                  type: string
                  description: Account holder full name.
                  example: Budi Santoso
                  nullable: false
                branchName:
                  type: string
                  description: Branch name registered for the account.
                  example: KC Jakarta
                  nullable: true
                country:
                  type: string
                  description: Country ISO name.
                  example: Indonesia
                  nullable: true
                accountType:
                  type: string
                  description: Account type or currency indicator provided by the gateway.
                  example: Saving
                  nullable: true
                additionalInfo:
                  type: string
                  description: Additional metadata to pass to the gateway.
                  example: '{"bankCity":"Jakarta"}'
                  nullable: true
              required:
                - methodId
                - bankCode
                - category
                - accountNumber
                - accountHolderName
  /api/v2/withdraw-accounts/{id}:
    get:
      summary: Show withdraw account details.
      operationId: showWithdrawAccountDetails
      description: Retrieve a single withdraw account owned by the authenticated user.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: Withdraw account details retrieved successfully. Returns account information including ID, name, account number, and associated withdrawal method.
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '20004005'
                  data:
                    id: 15
                    name: Bank BCA
                    accountNumber: '1234567890'
                    withdrawMethod:
                      id: 3
                      name: Bank Transfer
                      currency: IDR
                properties:
                  code:
                    type: string
                    example: '20004005'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 15
                      name:
                        type: string
                        example: Bank BCA
                      accountNumber:
                        type: string
                        example: '1234567890'
                      withdrawMethod:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          name:
                            type: string
                            example: Bank Transfer
                          currency:
                            type: string
                            example: IDR
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Withdraw Accounts
    put:
      summary: Update a withdraw account.
      operationId: updateAWithdrawAccount
      description: Modify a withdraw account owned by the authenticated user.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: Withdraw account updated successfully. Returns the updated account information with ID, name, account number, and withdrawal method details.
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '20004006'
                  data:
                    id: 15
                    name: Bank BCA
                    accountNumber: '1234567890'
                    withdrawMethod:
                      id: 3
                      name: Bank Transfer
                      currency: IDR
                properties:
                  code:
                    type: string
                    example: '20004006'
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 15
                      name:
                        type: string
                        example: Bank BCA
                      accountNumber:
                        type: string
                        example: '1234567890'
                      withdrawMethod:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 3
                          name:
                            type: string
                            example: Bank Transfer
                          currency:
                            type: string
                            example: IDR
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Withdraw Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                methodId:
                  type: integer
                  description: Identifier of the payout method returned by `lists`.
                  example: 1
                  nullable: false
                bankCode:
                  type: string
                  description: Bank or wallet code as supplied by the gateway.
                  example: '014'
                  nullable: false
                category:
                  type: string
                  description: Must be one of `Customer` or `Reconcile`.
                  example: Customer
                  nullable: false
                accountNumber:
                  type: string
                  description: Destination account or wallet number.
                  example: '1234567890'
                  nullable: false
                accountHolderName:
                  type: string
                  description: Account holder full name.
                  example: Budi Santoso
                  nullable: false
                branchName:
                  type: string
                  description: Branch name registered for the account.
                  example: KC Jakarta
                  nullable: true
                country:
                  type: string
                  description: Country ISO name.
                  example: Indonesia
                  nullable: true
                accountType:
                  type: string
                  description: Account type or currency indicator provided by the gateway.
                  example: Saving
                  nullable: true
                additionalInfo:
                  type: string
                  description: Additional metadata to pass to the gateway.
                  example: '{"bankCity":"Jakarta"}'
                  nullable: true
              required:
                - methodId
                - bankCode
                - category
                - accountNumber
                - accountHolderName
    delete:
      summary: Delete a withdraw account.
      operationId: deleteAWithdrawAccount
      description: Remove a withdraw account owned by the authenticated user.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '200':
          description: Withdraw account deleted successfully. Returns a success message confirming the deletion.
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '20004007'
                  message: Withdraw account deleted successfully
                properties:
                  code:
                    type: string
                    example: '20004007'
                  message:
                    type: string
                    example: Withdraw account deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Withdraw Accounts
    parameters:
      - in: path
        name: id
        description: Withdraw account ID.
        example: 15
        required: true
        schema:
          type: integer
  /api/v2/withdrawals:
    get:
      summary: List withdrawal transactions.
      operationId: listWithdrawals
      description: Retrieve a list of withdrawal transactions for the authenticated merchant. Returns withdrawal transactions with their status, amounts, and transaction details.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
        - in: query
          name: status
          description: Filter withdrawals by status (pending, completed, failed, canceled, processing).
          required: false
          schema:
            type: string
            enum:
              - pending
              - completed
              - failed
              - canceled
              - processing
          example: completed
        - in: query
          name: page
          description: Page number for pagination. Default is 1.
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - in: query
          name: per_page
          description: Number of withdrawals per page. Default is 20, maximum is 100.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
      responses:
        '200':
          description: List of withdrawal transactions retrieved successfully. Returns an array of withdrawal transactions with their details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: '20005002'
                  message:
                    type: string
                    example: List of withdrawal transactions retrieved successfully.
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        trxId:
                          type: string
                          example: TRX-2025.01.15-ABC123XYZ
                        trxRef:
                          type: string
                          example: WD-2025-0001
                          nullable: true
                        amount:
                          type: string
                          example: '250000.00'
                          description: Original withdrawal amount as a decimal string
                        netAmount:
                          type: string
                          example: '245000.00'
                          description: Net amount after fees as a decimal string
                        payableAmount:
                          type: string
                          example: '245000.00'
                          description: Final amount to be paid out as a decimal string
                        currencyCode:
                          type: string
                          example: IDR
                        status:
                          $ref: '#/components/schemas/TransactionStatus'
                        withdrawalMethod:
                          type: string
                          example: Bank Transfer
                          nullable: true
                        accountName:
                          type: string
                          example: Bank BCA
                          nullable: true
                        accountHolderName:
                          type: string
                          example: Budi Santoso
                          nullable: true
                        accountBankName:
                          type: string
                          example: Bank Central Asia
                          nullable: true
                        accountNumber:
                          type: string
                          example: '1234567890'
                          nullable: true
                        accountBankCode:
                          type: string
                          example: '014'
                          nullable: true
                        trxFee:
                          type: string
                          example: '5000.00'
                          description: Transaction fee charged as a decimal string
                        description:
                          type: string
                          example: Withdrawal to Bank BCA
                          nullable: true
                        remarks:
                          type: string
                          example: Withdrawal processed successfully
                          nullable: true
                        environment:
                          type: string
                          example: production
                          description: Environment where the transaction occurred ("production" or "sandbox")
                        isSandbox:
                          type: boolean
                          example: false
                          description: Whether the transaction is in sandbox mode
                        createdAt:
                          type: string
                          format: date-time
                          example: '2025-01-15T10:00:00Z'
                        completedAt:
                          type: string
                          format: date-time
                          example: '2025-01-15T10:30:00Z'
                          nullable: true
                  pageNumber:
                    type: integer
                    example: 1
                  pageSize:
                    type: integer
                    example: 2
                  hasNext:
                    type: boolean
                    example: true
                  hasPrev:
                    type: boolean
                    example: false
                example:
                  code: '20005002'
                  message: List of withdrawal transactions retrieved successfully.
                  data: []
                  pageNumber: 1
                  pageSize: 2
                  hasNext: true
                  hasPrev: false
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Withdrawals
  /api/v2/withdraw:
    post:
      summary: Create a withdrawal.
      operationId: createAWithdrawal
      description: Submit a withdrawal request for one of the authenticated merchant user's wallets.
      parameters:
        - in: header
          name: X-API-KEY
          description: Merchant public API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-API-KEY}'
          schema:
            type: string
        - in: header
          name: X-MERCHANT-KEY
          description: Merchant secret API key for authentication. Obtain from the merchant dashboard under API Access.
          example: '{X-MERCHANT-KEY}'
          schema:
            type: string
      responses:
        '201':
          description: Withdrawal request created successfully. Returns transaction ID, amount, account ID, and wallet ID.
          content:
            application/json:
              schema:
                type: object
                example:
                  code: '20105001'
                  message: Withdrawal has been created.
                  data:
                    trxId: TRX20241101001
                    amount: 250000
                    accountId: 15
                    walletId: f8f3e8f8-0b1a-4cd5-a8fc-3cf1328a0a6f
                properties:
                  code:
                    type: string
                    example: '20105001'
                  message:
                    type: string
                    example: Withdrawal has been created.
                  data:
                    type: object
                    properties:
                      trxId:
                        type: string
                        example: TRX20241101001
                      amount:
                        type: integer
                        example: 250000
                      accountId:
                        type: integer
                        example: 15
                      walletId:
                        type: string
                        example: f8f3e8f8-0b1a-4cd5-a8fc-3cf1328a0a6f
        '422':
          $ref: '#/components/responses/ValidationError'
      tags:
        - Withdrawals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                trxRef:
                  type: string
                  description: Unique merchant reference for the withdrawal.
                  example: easylink_17116045771112001
                  nullable: true
                bankId:
                  type: string
                  description: Bank identifier.
                  example: '2'
                  nullable: false
                accountHolderName:
                  type: string
                  description: Account holder name.
                  example: RAIDY WIJAYA
                  nullable: false
                accountNumber:
                  type: string
                  description: Bank account number.
                  example: '1040000008446'
                  nullable: false
                amount:
                  type: string
                  description: Withdrawal amount as a string.
                  example: '4000000'
                  nullable: false
                payment_method:
                  type: string
                  description: Payment method identifier.
                  example: '1'
                  nullable: false
                description:
                  type: string
                  description: Description of the withdrawal.
                  example: domestic transfer bni 0315747263 009 v2
                  nullable: true
              required:
                - bankId
                - accountHolderName
                - accountNumber
                - amount
                - payment_method
