openapi: 3.0.3
info:
  title: WRPay - Secure Payments & Advanced Merchant Gateway API Documentation
  description: Merchant-facing API for initiating payments, managing wallets, and automating withdrawals for IlonaPay.
  version: 1.0.0
  license:
    name: Proprietary
    url: https://ilonapay.com/terms
  x-logo:
    url: ./assets/logo.png
    altText: IlonaPay Logo
    backgroundColor: '#FFFFFF'
  x-dark-logo:
    url: ./assets/logo-light.png
    altText: IlonaPay Logo
servers:
  - url: https://sandbox.ilonapay.com
    description: Sandbox environment for testing and development
  - url: https://production.ilonapay.com
    description: Production environment for live transactions
security:
  - default: []
tags:
  - name: Payments
    description: Endpoints for initiating and processing payment transactions
  - name: Transactions
    description: Endpoints for checking transaction status and managing callbacks
  - name: Wallets
    description: Endpoints for managing merchant wallets and balances
  - name: Withdraw Accounts
    description: Endpoints for managing withdrawal account configurations
  - name: Withdrawals
    description: Endpoints for creating and managing withdrawal requests
paths:
  /api/v2/payments:
    $ref: './paths/payments-list.yaml#/~1api~1v2~1payments'
  /api/v2/initiate-payment-qris:
    $ref: './paths/payments-qris.yaml#/~1api~1v2~1initiate-payment-qris'
  /api/v2/initiate-payment-virtual-account:
    $ref: './paths/payments-virtual-account.yaml#/~1api~1v2~1initiate-payment-virtual-account'
  /api/v2/initiate-payment-bank-transfer:
    $ref: './paths/payments-bank-transfer.yaml#/~1api~1v2~1initiate-payment-bank-transfer'
  /api/v2/check-payment-status:
    $ref: './paths/transactions-payment-status.yaml#/~1api~1v2~1check-payment-status'
  /api/v2/check-withdrawal-status:
    $ref: './paths/transactions-withdrawal-status.yaml#/~1api~1v2~1check-withdrawal-status'
  /api/v2/resend-callback:
    $ref: './paths/transactions-callback.yaml#/~1api~1v2~1resend-callback'
  /api/v2/get-invoice/{trx_id}:
    $ref: './paths/transactions-invoice.yaml#/~1api~1v2~1get-invoice~1{trx_id}'
  /api/v2/wallets:
    $ref: './paths/wallets.yaml#/~1api~1v2~1wallets'
  /api/v2/wallets/{walletId}:
    $ref: './paths/wallets.yaml#/~1api~1v2~1wallets~1{walletId}'
  /api/v2/banks:
    $ref: './paths/payment-support-banks.yaml#/~1api~1v2~1banks'
  /api/v2/digital-wallets:
    $ref: './paths/payment-support-digital-wallets.yaml#/~1api~1v2~1digital-wallets'
  /api/v2/virtual-account-banks:
    $ref: './paths/payment-support-virtual-account-banks.yaml#/~1api~1v2~1virtual-account-banks'
  /api/v2/withdraw-accounts/methods:
    $ref: './paths/withdraw-accounts-methods.yaml#/~1api~1v2~1withdraw-accounts~1methods'
  /api/v2/withdraw-accounts/lists:
    $ref: './paths/withdraw-accounts-lists.yaml#/~1api~1v2~1withdraw-accounts~1lists'
  /api/v2/withdraw-accounts/{id}/info:
    $ref: './paths/withdraw-accounts-info.yaml#/~1api~1v2~1withdraw-accounts~1{id}~1info'
  /api/v2/withdraw-accounts:
    $ref: './paths/withdraw-accounts-crud.yaml#/~1api~1v2~1withdraw-accounts'
  /api/v2/withdraw-accounts/{id}:
    $ref: './paths/withdraw-accounts-detail.yaml#/~1api~1v2~1withdraw-accounts~1{id}'
  /api/v2/withdrawals:
    $ref: './paths/withdrawals-list.yaml#/~1api~1v2~1withdrawals'
  /api/v2/withdraw:
    $ref: './paths/withdrawals-create.yaml#/~1api~1v2~1withdraw'
components:
  securitySchemes:
    $ref: ./components/security.yaml#/securitySchemes
  responses:
    $ref: ./components/responses.yaml#/responses
  schemas:
    $ref: ./components/schemas.yaml#/schemas
